* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.settings {
  width: 100%;
  padding: 1%;
  display: flex;
  flex-direction: row-reverse;
}

.settings * {
  cursor: pointer;
}

.titles {
  padding: 1% 0% 4% 0%;
}
.titles h1 {
  width: 100%;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 1%;
}
#playersBox {
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.playerOneTurn,
.playerTwoTurn {
    width: 40px;
    height: 40px;
    margin: 10% 0% 10% 0%;
}

.playerOneDropdown button,
.playerTwoDropdown button {
	width: 100%;
	cursor: pointer;

}



.rotate {
  animation: rotation 2s linear infinite;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.playerOneDropdown,
.playerTwoDropdown {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.colorDraw {
    color: rgb(0, 0, 0, 0.75);
}

.titlePageWrapper {
  width: 100%;
  height: 100vh;
  background-image: url(/images/blankBoard.png);
  background-position: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.titlePageWrapper * {
  background-color: antiquewhite;
  border: 1px solid grey;
}

main {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  flex-wrap: wrap;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  border: 1px solid black;
  gap: 2px;
}

.dropdownContent {
  display: flex;
  flex-direction: column;
}

div[class$="Options"] {
  width: 11%;
  margin: 0% 12%;
  padding: 1%;
  border: 1px solid black;

  font-weight: bold;
  font-size: large;
  border-radius: 12px;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

h3 {
  padding: 2% 0%;
  font-size: 2rem;
  text-decoration: underline;
}

div[class$="Options"] > button {
  cursor: pointer;
  padding: 1%;
}

.restartWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.restartWrapper button {
  font-size: 1.5rem;
  margin: 2%;
  padding: 0.8%;
  border-radius: 12px;
  cursor: pointer;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;

  background-color: floralwhite;

}  


.restartWrapper button:hover {
  background-color: rgb(212, 212, 212);

}


.board-wrapper {
  border: 2px solid black;
  aspect-ratio: 1;
  width: 30%;
  padding: 5px;
  background-color: white;
}

.tile {
  border: 1px solid black;
  transition: background-color 50ms ease-out;
}

.tile:hover {
  background-color: rgb(128, 128, 128, 0.3);
}

.colorPlayerTwo {
  color: rgb(255, 77, 0);
}
.colorPlayerOne {
  color: rgb(104, 140, 207);
}
/* .borderPlayerOne {
	border: 2px solid rgb(255, 77, 0);

}
.borderPlayerTwo {
	border: 2px solid rgb(104, 140, 207);

} */

.tilePlayerTwo {
  background: linear-gradient(rgb(247, 74, 74), rgb(255, 77, 0));
}
.tilePlayerOne {
  background: linear-gradient(rgb(122, 194, 188), rgb(83, 112, 232));
}

.subboard {
  position: relative;
  background-color: rgb(211, 211, 211, 0.5);
  transition: background-color 0.1s ease-out;
}

.inPlay {
  border: 2px solid rgb(255, 213, 0);
  background-color: white;
}

.boardPlayerTwo {
  background: linear-gradient(rgb(200, 74, 74, 0.75), rgb(255, 77, 50, 0.75));
  /* background-color: rgb(0, 0, 255, 0.75); */
  height: 100%;
  width: 100%;
  position: absolute;
}
.boardPlayerOne {
  background: linear-gradient(
    rgb(150, 194, 188, 0.75),
    rgb(83, 112, 255, 0.75)
  );
  /* background-color: rgb(144, 238, 144, 0.75); */
  position: absolute;
  height: 100%;
  width: 100%;
}

.boardDraw {
  background-color: rgba(147, 20, 194, 0.75);
  position: absolute;
  height: 100%;
  width: 100%;
}

.settingsPopUp {
  position: absolute;
  top: 200px;
  right: 4px;
  z-index: -1;

  padding: 1.8% 0.5% 1% 0.5%;
  border: 1px solid black;
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.1s ease-in;
}
.settingsPopUp * {
  padding: 10% 0%;
}
.noDisplay {
	display: none;
}

div[class$="Options"] button {
  font-size: 1.5rem;
  border: 0px;
  background-color: transparent;
}

@media screen and (max-width: 775px) {
  .board-wrapper {
    width: 80vw;
  }
  div.playerOneOptions {
    order: 1;
  }
  div.playerTwoOptions {
    order: 1;
  }
  .restartWrapper {
    order: 1;
    margin: 0% 0% 1% 0%;
  }
  div.playerOneOptions {
    order: 1;
    width: 30%;
    padding: 1%;
    height: 100%;

    margin: 1% 4% 1% 4%;
  }
  div.playerTwoOptions {
    order: 1;
    width: 30%;
    padding: 1%;
    height: 100%;

    margin: 1% 4% 1% 4%;
  }
}

@media screen and (max-width: 722px) {
  .board-wrapper {
    width: 80vw;
  }
  div.playerOneOptions {
    order: 1;
  }
  div.playerTwoOptions {
    order: 1;
  }
  .restartWrapper {
    order: 1;
    margin: 0% 0% 1% 0%;
  }
  div.playerOneOptions {
    order: 1;
    width: 30%;
    padding: 1%;
    height: 100%;

    margin: 1% 3% 1% 3%;
  }
  div.playerTwoOptions {
    order: 1;
    width: 30%;
    padding: 1%;
    height: 100%;

    margin: 1% 3% 1% 3%;
  }
}

@media screen and (max-width: 632px) {
  .board-wrapper {
    width: 80vw;
  }

  div.playerOneOptions {
    order: 1;
    width: 30%;
    padding: 1%;
    height: 100%;

    margin: 1% 2% 1% 2%;
  }
  div.playerTwoOptions {
    order: 1;
    width: 30%;
    padding: 1%;
    height: 100%;

    margin: 1% 2% 1% 2%;
  }
  .restartWrapper {
    order: 1;
    margin: 0% 0% 1% 0%;
  }
  .restartWrapper button {
    font-size: 2rem;
  }
}
